<div class="{{$ctrl.parentStyle}}">
	<div class="panel {{$ctrl.panel.style}}" ng-if="$ctrl.panel.show">
	    <div class="panel-heading {{$ctrl.heading.style}}" ng-if="$ctrl.heading.show">
	    	<span class="{{$ctrl.heading.title.style}}">{{$ctrl.heading.title.text}}</span><span ng-repeat="glyphicon in $ctrl.heading.glyphicons" class="glyphicon {{glyphicon.style}}" ng-show="glyphicon.show" ng-click="$ctrl.onGlyphiconClick(glyphicon.onClick)"></span>
	    </div>
	    <div class="panel-body {{$ctrl.body.style}}" ng-repeat="body in $ctrl.body.bodies" ng-if="$ctrl.body.show">
	    	<div class="{{body.style}}" ng-if="body.show && body.type == 'text'">
	    		<h4>body only text: {{body.content}}</h4>
	    	</div>
	    	<div class="{{body.style}}" ng-if="body.show && body.type == 'inputs'">
	    		<h4>body is inputs</h4>
 	    		<arrange-inputs div-style="body.content.divStyle" inputs-labels="body.content.inputsLabels" on-update="body.inputsLabels"></arrange-inputs>
 	    		<div ng-repeat="inputLabel in body.content.inputsLabels">
 	    			Valores digitados: {{inputLabel.input.value}}
 	    		</div>
	    	</div>
	    	<div class="{{body.style}}" ng-if="body.show && body.type == 'tiles'">
	    		<h4>body is list of tiles</h4>
 	    		<lists-tiles type="body.content.type" tiles="body.content.tiles" on-click-response="body.content.tiles" parent-style="body.content.parentStyle"></lists-tiles>
 	    		Selected: {{body.content.tiles.selected}}
	    	</div>
	    	<div class="{{body.style}}" ng-if="body.show && body.type == 'cards'">
	    		<h4>body is list of cards</h4>
 	    		<lists-cards cards="body.content.cards" type="body.content.type"></lists-cards>
	    	</div>
	    	<div class="{{body.style}}" ng-if="body.show && body.type == 'tables'">
	    		<h4>body is breakable table</h4>
 	    		<tables-break header="body.content.header" key-values="body.content.keyValues" width-break="body.content.widthBreak"></tables-break>
	    	</div>
	    </div>
	</div>
</div>