<div class="container" ng-controller="PaginateTestController">
    <h2>Paginate Component</h2>

    <p>The paginate component provides some basic pagination for you, as long as you feed it with, at least, the current page value and the total number of entries you're trying to paginate. All other parameters are optional.</p>

    <p>Here's an example of a simple pagination object.</p>
    <paginate-data params="params1"></paginate-data>

    <hr>

    <h3>Parameters</h3>

    <p>The table below provides all the accepted parameters for this component, and you can also change'em in real time, to see how changing them affects the pagination.</p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
            <th>Type</th>
            <th>Default</th>
            <th style="width:100px;">Change</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>current</strong></td>
            <td>Current page being viewed.</td>
            <td>YES</td>
            <td>integer</td>
            <td>--</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.current">
            </td>
        </tr>
        <tr>
            <td><strong>data_size</strong></td>
            <td>Total number of entries being paginated.</td>
            <td>YES</td>
            <td>integer</td>
            <td>--</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.data_size">
            </td>
        </tr>
        <tr>
            <td><strong>page_size</strong></td>
            <td>Number of results per page being displayed on screen. Not required, but always good to set, so you can prooperly sync content and pagination.</td>
            <td>NO</td>
            <td>integer</td>
            <td>10</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.page_size">
            </td>
        </tr>
        <tr>
            <td><strong>wrapper_class</strong></td>
            <td>Pagination wrapper class, currently uses bootstrap's <code>btn-group</code> as default.</td>
            <td>NO</td>
            <td>string</td>
            <td>btn-group</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.wrapper_class">
            </td>
        </tr>
        <tr>
            <td><strong>default_class</strong></td>
            <td>Base button class, currently uses bootstrap's <code>btn btn-default</code> as default.</td>
            <td>NO</td>
            <td>string</td>
            <td>btn btn-default</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.default_class">
            </td>
        </tr>
        <tr>
            <td><strong>current_class</strong></td>
            <td>Current active button class, currently uses bootstrap's <code>btn btn-default active</code> as default.</td>
            <td>NO</td>
            <td>string</td>
            <td>btn btn-default active</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.current_class">
            </td>
        </tr>
        <tr>
            <td><strong>show_arrows</strong></td>
            <td>Toggles base (first/previous/next/last) navigation buttons.</td>
            <td>NO</td>
            <td>boolean</td>
            <td>true</td>
            <td style="width:100px;">
                <button class="btn btn-warning" ng-click="toggleArrows()">
                    Toggle
                </button>
            </td>
        </tr>
        <tr>
            <td><strong>show_numbers</strong></td>
            <td>Toggles numeric navigation buttons.</td>
            <td>NO</td>
            <td>boolean</td>
            <td>true</td>
            <td style="width:100px;">
                <button class="btn btn-warning" ng-click="toggleNumbers()">
                    Toggle
                </button>
            </td>
        </tr>
        <tr>
            <td><strong>number_side</strong></td>
            <td>The number of numeric buttons appearing on each side of the current button, when navigating large quantities of data.</td>
            <td>NO</td>
            <td>integer</td>
            <td>2</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.number_side">
            </td>
        </tr>
        <tr>
            <td><strong>page_url</strong></td>
            <td>The angular-relative url where the pagination will take you to. If empty, or not declared, the pagination won't redirect the user. It's useful when you need the pagination to be stored in the browser's history. It must be a relative url, like: <strong>demo/page</strong> or <strong>blog/posts/</strong>. Trailing slash is optional, leading slash isn't allowed.</td>
            <td>NO</td>
            <td>string</td>
            <td>''</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.page_url">
            </td>
        </tr>
        <tr>
            <td><strong>arrow_first_text</strong></td>
            <td>Text appearing on the "First Page" button.</td>
            <td>NO</td>
            <td>string</td>
            <td>Primeira</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.arrow_first_text">
            </td>
        </tr>
        <tr>
            <td><strong>arrow_prev_text</strong></td>
            <td>Text appearing on the "Previous Page" button.</td>
            <td>NO</td>
            <td>string</td>
            <td>Anterior</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.arrow_prev_text">
            </td>
        </tr>
        <tr>
            <td><strong>arrow_next_text</strong></td>
            <td>Text appearing on the "Next Page" button.</td>
            <td>NO</td>
            <td>string</td>
            <td>Próxima</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.arrow_next_text">
            </td>
        </tr>
        <tr>
            <td><strong>arrow_last_text</strong></td>
            <td>Text appearing on the "Last Page" button.</td>
            <td>NO</td>
            <td>string</td>
            <td>Última</td>
            <td style="width:100px;">
                <input style="width:100px" type="text" ng-model="params2.arrow_last_text">
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Interactive Example</h3>
    <p>Changes made on the input and toggle fields on the table above affect this pagination object below.</p>
    <paginate-data params="params2"></paginate-data>
</div>
<br><br>