<div ng-show="{{$ctrl.messages.show}}" class="alert {{$ctrl.messages.style}}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h6>{{$ctrl.messages.text}}</h6>
</div>
