<!-- for radio input only -->
<div ng-if="$ctrl.input.type == 'radio' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}" class="{{$ctrl.label.simple.style}}">{{$ctrl.label.simple.name}}: </label>
	<br/>
	<div ng-repeat="option in $ctrl.input.options">
		<input class="{{$ctrl.input.style}}" type="radio" name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" value="{{option}}">{{option}}
	</div>
</div>

<div ng-if="$ctrl.input.type == 'radio' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<div ng-repeat="option in $ctrl.input.options" >
		<input class="form-control {{$ctrl.input.style}}" type="radio" name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" value="{{option}}">{{option}}
	</div>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<!-- for checkbox input only -->
<div ng-if="$ctrl.input.type == 'checkbox' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}" class="{{$ctrl.label.simple.style}}">{{$ctrl.label.simple.name}}: </label>
	<br/>
	<div ng-repeat="checkbox in $ctrl.checkboxes">
		<input class="{{$ctrl.input.style}}" type="checkbox" name="{{checkbox.name}}" ng-model="checkbox.response" value="{{checkbox.value}}">{{checkbox.value}}
	</div>
</div>

<div ng-if="$ctrl.input.type == 'checkbox' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<div ng-repeat="checkbox in $ctrl.chechboxes" >
		<input class="form-control {{$ctrl.input.style}}" type="checkbox" name="{{checkbox.name}}" ng-model="checkbox.response" value="{{checkbox.value}}">{{checkbox.value}}
	</div>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<!-- for input with autocomplete only -->
<div ng-if="$ctrl.input.type == 'autocomplete' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}">{{$ctrl.label.name}}</label>
	<br/>
	<input name="{{$ctrl.input.name}}" list="list" ng-model="$ctrl.input.value" class="{{$ctrl.input.style}}" >
	<datalist id="list" class="{{$ctrl.autocompleteStyle}}">
		<div ng-repeat="option in $ctrl.input.options">
			<option>{{option}}</option>teste 2
		</div>
	</datalist>	
</div>

<div ng-if="$ctrl.input.type == 'autocomplete' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<input name="{{$ctrl.input.name}}" list="list" ng-model="$ctrl.input.value" class="form-control {{$ctrl.input.style}}" >
	<datalist id="list" class="{{$ctrl.autocompleteStyle}}">
		<div ng-repeat="option in $ctrl.input.options">
			<option>{{option}}</option>teste 2
		</div>
	</datalist>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<!-- for dropdown with values only -->
<div ng-if="$ctrl.input.type == 'dropdown' && $ctrl.input.optionsType == 'value' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}">{{$ctrl.label.simple.name}}</label>
	<br/>
	<select name="{{$ctrl.input.name}}" class="{{$ctrl.input.style}}" ng-model="$ctrl.input.value" ng-options="option for option in $ctrl.input.options"></select>
</div>

<div ng-if="$ctrl.input.type == 'dropdown' && $ctrl.input.optionsType == 'value' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<select name="{{$ctrl.input.name}}" class="form-control {{$ctrl.input.style}}" ng-model="$ctrl.input.value" ng-options="option for option in $ctrl.input.options"></select>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<!-- for dropdown with key/value options only -->
<div ng-if="$ctrl.input.type == 'dropdown' && $ctrl.input.optionsType == 'keyvalue' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}">{{$ctrl.label.simple.name}}</label>
	<br/>
	<select name="{{$ctrl.input.name}}" class="{{$ctrl.input.style}}" ng-model="$ctrl.input.value" ng-options="option.value for option in $ctrl.input.options track by option.key"></select>
</div>

<div ng-if="$ctrl.input.type == 'dropdown' && $ctrl.input.optionsType == 'keyvalue' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<select name="{{$ctrl.input.name}}" class="form-control {{$ctrl.input.style}}" ng-model="$ctrl.input.value" ng-options="option.value for option in $ctrl.input.options track by option.key"></select>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<helper-validator ng-if="$ctrl.validation.exec" value="$ctrl.input.value" validation="$ctrl.validation"></helper-validator>