<div class="container" ng-controller="FileUploadController">
    <h2>File Upload Component</h2>
    <p>The file upload component basically realizes uploads automatically to the specified path in the controller.</p>

    <h3>Parameters</h3>

    <p>The component accepts two arguments: <strong>params</strong> and <strong>upload</strong>. Params should be an object containing properties and setup variables for the component, it's also the object where the uploaded files and the upload queue will be pushed to. Upload, right now, is optional and experimental, and should be a function.</p>

    <p>Below you can find a list of the accepted values in "params".</p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
            <th>Type</th>
            <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>type</strong></td>
            <td>What type of file input will be used: a 'single' type or 'multiple' type?</td>
            <td>YES</td>
            <td>string</td>
            <td>''</td>
        </tr>
        <tr>
            <td><strong>url</strong></td>
            <td>The url for the XMLHttpRequest, must contain the protocol.</td>
            <td>YES</td>
            <td>string</td>
            <td>''</td>
        </tr>
        <tr>
            <td><strong>headers</strong></td>
            <td>An object, containing key-value pairs to be sent as headers, when making the request/upload.</td>
            <td>YES</td>
            <td>object</td>
            <td>--</td>
        </tr>
        <tr>
            <td><strong>accept</strong></td>
            <td>What file extensions the upload input accepts. Can be a single extension, multiple extensions separated by comma (Ex.: .xml, .doc, .mp3) or even MIME types and wildcards (Ex.: image/*).</td>
            <td>NO</td>
            <td>string</td>
            <td>''</td>
        </tr>
        <tr>
            <td><strong>maxsize</strong></td>
            <td>Max file size allowed. If set to zero, no limit is applied.</td>
            <td>NO</td>
            <td>Integer</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h2>Use Cases</h2>

    <h3>Use Case 1 - Single file upload with most basic setup</h3>
    <file-upload params="singleCase1"></file-upload>

    <hr>

    <h3>Use Case 2 - Multiple file upload with most basic setup</h3>
    <file-upload params="multipleCase1"></file-upload>

    <hr>

    <h3>Use Case 3 - Single file upload, accepts only PDF files</h3>
    <file-upload params="singleCase2"></file-upload>

    <hr>

    <h3>Use Case 4 - Multiple file upload, accepts only image files, with a maximum size of 200kb (204800 bytes)</h3>
    <file-upload params="multipleCase2"></file-upload>
</div>
