<div ng-controller="PanelsController">
    <div id="general">
        <h1>
            Use case for Panels
        </h1>
        <span>
            <strong>
                Important:
            </strong>
            styles for the panels are defined through bootstrap classes and on the file panels.scss.
        </span>
        <br/>
        <span>
            <strong>
                Controller:
            </strong>
            for important reference of how to use the, see the file panels.controller.js.
        </span>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="heading">
        <h2>
            Panel Heading
        </h2>
        <span>
            Creates a heading panel with some glyphicons that correspond to an action
        </span>
        <hr/>
        <h3>
            Use Case Heading 1 - only Glyphicons
        </h3>
        <panels-heading-bodies heading="heading0" panel="panel1" parent-style="parentStyle">
        </panels-heading-bodies>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="body">
    	<h2>Panel Body</h2>
    	<hr/>
        <h3>
            Use Case Panels Body 1 - text
        </h3>
        <panels-heading-bodies body="body1" heading="heading1" panel="panel2" parent-style="parentStyle">
        </panels-heading-bodies>
        <br/>
        <h3>
            Use Case Panels Body 2 - input - no heading
        </h3>
        <panels-heading-bodies body="body2" panel="panel3" parent-style="parentStyle">
        </panels-heading-bodies>
        <br/>
        <h3>
            Use Case Panels Body 3 - tiles - no heading
        </h3>
        <panels-heading-bodies body="body3" panel="panel4" parent-style="parentStyle">
        </panels-heading-bodies>
        <br/>
        <h3>
            Use Case Panels Body 4 - cards - no heading
        </h3>
        <panels-heading-bodies body="body4" panel="panel5" parent-style="parentStyle">
        </panels-heading-bodies>
        <br/>
        <h3>
            Use Case Panels Body 5 - tables - no heading
        </h3>
        <panels-heading-bodies body="body5" panel="panel6" parent-style="parentStyle">
        </panels-heading-bodies>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="all">
	    <h3>
	        Use Case Panels All - Everything at once
	    </h3>
	    <panels-heading-bodies body="body" heading="heading" panel="panel7" parent-style="parentStyle">
	    </panels-heading-bodies>
    </div>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr/>
</div>
