<!-- The ng-if could be inside the component figcation, but it can, not necessarily will, cause some performamce issues -->
<div ng-if="$ctrl.type === 'default'" class="{{$ctrl.parentStyle}}">
	<div ng-repeat="card in $ctrl.cards.options | filter: $ctrl.filter">
		<div class="{{card.style}} row">
			<div class="{{card.image.parent.style}}">
				<img ng-src="{{card.image.url}}" alt="{{card.image.name}}" class="{{card.image.style}}">
			</div>
			<div class="{{card.summary.style}}">
				{{card.summary.text}}
			</div>
		</div>
	</div>
</div>

<div ng-if="$ctrl.type === 'leftsub'" class="{{$ctrl.parentStyle}}">
	<div ng-repeat="card in $ctrl.cards.options | filter: $ctrl.filter">
		<div class="{{card.style}} row">
			<div class="{{card.image.parent.style}}">
				<img ng-src="{{card.image.url}}" alt="{{card.image.name}}" class="{{card.image.style}}">
				<figcaption>{{card.subtitle.text}}</figcaption>
			</div>
			<div class="{{card.summary.style}}">
				{{card.summary.text}}
			</div>
		</div>
	</div>
</div>

<div ng-if="$ctrl.type === 'leftsubmore'" class="{{$ctrl.parentStyle}}">
	<div ng-repeat="card in $ctrl.cards.options | filter: $ctrl.filter">
		<div class="{{card.style}} row">
			<div class="{{card.image.parent.style}}">
				<img ng-src="{{card.image.url}}" alt="{{card.image.name}}" class="{{card.image.style}}">
				<figcaption class="card.subtitle.style">{{card.subtitle.text}}</figcaption>
			</div>
			<div class="{{card.summary.style}}">
				<div class="row">
					{{card.summary.text}}
				</div>
				<div class="row">
					<button-action text="card.seemore.text" button-style="card.seemore.style" mode="'goto'" go-to="card.seemore.goto"></button-action>
				</div>
			</div>
		</div>
	</div>
</div>



