<div class="{{$ctrl.validation.style}}">
    <h6 class="{{$ctrl.validation.error.style}}" ng-show="!$ctrl.success">
        {{$ctrl.message}}
    </h6>
    <h6 class="{{$ctrl.validation.success.style}}" ng-show="$ctrl.success">
        {{$ctrl.message}}
    </h6>
</div>