<div ng-controller="ListsController">
    <div id="general">
        <h1>
            Use Cases for Lists
        </h1>
        <span>
            <strong>
                Important:
            </strong>
            styles for the lists are defined through bootstrap classes and on the file lists.scss.
        </span>
        <br/>
        <span>
            <strong>
                Controller:
            </strong>
            for important reference of how to use the, see the file lists.controller.js.
        </span>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="tiles">
        <h2>
            List of tiles
        </h2>
        <span>
            A tile list is a list of simple elementes, generally consisting of an image and sometimes a subtitle only. Some action are done on click of a tile, such as send response with selected value and to to some page
        </span>
        <hr/>
        <h3>
            Use Case Tiles 1 - only image
        </h3>
        <lists-tiles on-click-response="tiles1" tiles="tiles1">
        </lists-tiles>
        <br/>
        <h6>
            Tile selected: {{tiles1.selected}}
        </h6>
        <hr/>
        <h3>
            Use Case Tiles 2 - with subtitles
        </h3>
        <span>
            Subtiles and image are no aligned, to correct this change the style in controller and lists.scss file
        </span>
        <lists-tiles on-click-response="tiles2" tiles="tiles2" type="'imgsubtitle'">
        </lists-tiles>
        <br/>
        <h6>
            Tile selected: {{tiles2.selected}}
        </h6>
        <hr/>
        <h3>
            Use Case Tiles 3 - goto action and filter
        </h3>
        <lists-tiles filter="tileFilter" on-click-action="'goto'" tiles="tiles3">
        </lists-tiles>
        <br/>
        <hr/>
        <h3>
            Use Case Tiles 4 - fluid/responsiveness
        </h3>
        <span>
            Resize browser window to see differences
        </span>
        <lists-tiles on-click-response="tiles4" parent-style="parentStyle" tiles="tiles4">
        </lists-tiles>
        <br/>
        <h6>
            Tile selected: {{tiles4.selected}}
        </h6>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="cards">
        <h2>
            List of cards
        </h2>
        <span>
            A card list is a list of elementes, generally consisting of image, subtitle, text and sometimes buttons. They show more content to the user than simple tiles
        </span>
        <hr/>
        <h3>
            Use Case Cards 1 - left image without subtitles
        </h3>
        <lists-cards cards="cards1">
        </lists-cards>
        <br/>
        <h3>
            Use Case Cards 2 - left image with subtitles
        </h3>
        <lists-cards cards="cards2" type="'leftsub'">
        </lists-cards>
        <br/>
        <h3>
            Use Case Cards 3 - goto button action
        </h3>
        <lists-cards cards="cards3" type="'leftsubmore'">
        </lists-cards>
    </div>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
