<div class="container" ng-controller="ButtonsController">
	<div id="general">
		<h1>Use Cases for Buttons</h1>
		<span><strong>Important: </strong>styles for the buttons are defined through bootstrap classes.</span>
		<br/>
		<span><strong>Controller: </strong>for important reference of how to use the, see the file buttons.controller.js.</span>
	</div>
	<br/>
	<hr/>
	<br/>
	<div id="action">
		<h2>Action Button</h2>
		<span>An action button has the purpose of doing some action on click of it, actions such as: go back to previous page, open modal, show message and other.</span>
		<hr/>
		<h3>Use Case Action 1 - Go Back to previous location (default)</h3>
		<button-action text="action1.text"></button-action>

		<h3>Use Case Action 2 - Go To URL</h3>
		<button-action text="action2.text" button-style="action2.buttonStyle" action="action2.action"></button-action>

		<h3>Use Case Action 3 - Modal/Clear form/Custom action</h3>
		<p></p>
		<button-action text="action3.text" button-style="action3.buttonStyle" action="action3.action"></button-action>
	</div>
	<br/>
	<hr/>
	<br/>
	<div id="submit">
		<h2>Submit Button</h2>
		<span>A submit button is used to submit data to the back-end, check the response and act according to some parameters specified.</span>
		<hr/>
		<h3>Use Case Submit 1 - Submit, check for response and return data</h3>
		<button-submit text="submit1.text" mode="submit1.mode" params="params" button-style="submit1.buttonStyle" on-submit="onSubmit(params)"></button-submit>
		<br/>
		<h3>Use Case Submit 2 - Submit, check for response and in case of success go to some page</h3>
		<button-submit text="submit2.text" mode="submit2.mode" go-to="submit2.goTo" params="params" button-style="submit2.buttonStyle"></button-submit>
		<br/>
		<h3>Use Case Submit 3 - Submit, check for response and in case of success go to previous location</h3>
		<button-submit text="submit3.text" mode="submit3.mode" params="params" button-style="submit3.buttonStyle"></button-submit>
	</div>
	<br/>
	<hr/>
	<br/>
	<div id="submitcancel">
		<h2>Submit and Cancel Button</h2>
		<span>A set of two buttons (submit and cancel), in this case the cancel button is a case of the action button.</span>
		<hr/>
		<h3>Use Case Submit and Cancel 1 - basic case of set of the two buttons</h3>
		<buttons-submit-cancel cancel="groupCancel" submit="groupSubmit" on-submit="onSubmitGroup(groupSubmit)"></buttons-submit-cancel>	
	</div>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>
