<!-- The ng-if could be inside the component figcation, but it can, not necessarily will, cause some performamce issues -->
<div ng-if="$ctrl.type === 'default'" class="{{$ctrl.parentStyle}}">
	<div ng-repeat="tile in $ctrl.tiles.options | filter: $ctrl.filter" class="{{tile.style}}" ng-click="$ctrl.tileSelection(tile)">
		<img ng-src="{{tile.image.url}}" alt="{{tile.image.name}}" class="{{tile.image.style}}">
	</div>
</div>

<div ng-if="$ctrl.type === 'imgsubtitle'" class="{{$ctrl.parentStyle}}">
	<div ng-repeat="tile in $ctrl.tiles.options | filter: $ctrl.filter" class="{{tile.style}}" ng-click="$ctrl.tileSelection(tile)">
		<img ng-src="{{tile.image.url}}" alt="{{tile.image.name}}" class="{{tile.image.style}}">
		<figcaption>{{tile.subtitle.text}}</figcaption>
	</div>
</div>