<!-- for input that are not textarea -->
<div ng-if="$ctrl.input.type != 'textarea' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}" class="{{$ctrl.label.simple.style}}">{{$ctrl.label.simple.name}}: </label>
	<br/>
	<input class="{{$ctrl.input.style}}" type="{{$ctrl.input.type}}" name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" placeholder="{{$ctrl.input.placeholder}}" ng-change="$ctrl.input.value"><span ng-if="$ctrl.input.type == 'checkbox'">{{$ctrl.input.name}}</span>
</div>

<div ng-if="$ctrl.input.type != 'textarea' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<input class="form-control {{$ctrl.input.style}}" type="{{$ctrl.input.type}}" name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" placeholder="{{$ctrl.input.placeholder}}" ng-change="$ctrl.input.value"><span ng-if="$ctrl.input.type == 'checkbox'">{{$ctrl.input.name}}</span>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<!-- for text area input only-->
<div ng-if="$ctrl.input.type == 'textarea' && $ctrl.label.type == 'simple'" class="{{$ctrl.labelInputStyle}}">
	<label for="{{$ctrl.input.name}}" class="{{$ctrl.label.simple.style}}">{{$ctrl.label.simple.name}}: </label>
	<br/>
	<textarea class="{{$ctrl.input.style}}" rows="{{$ctrl.input.rows}}" cols={{$ctrl.input.cols}} name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" placeholder="{{$ctrl.input.placeholder}}" ng-change="$ctrl.input.value"></textarea>
</div>

<div ng-if="$ctrl.input.type == 'textarea' && $ctrl.label.type == 'grouped'" class="input-group {{$ctrl.labelInputStyle}}">
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.left.show">{{$ctrl.label.grouped.left.name}}</span>
	<textarea class="form-control {{$ctrl.input.style}}" rows="{{$ctrl.input.rows}}" cols={{$ctrl.input.cols}} name="{{$ctrl.input.name}}" ng-model="$ctrl.input.value" placeholder="{{$ctrl.input.placeholder}}" ng-change="$ctrl.input.value"></textarea>
	<span class="input-group-addon" ng-if="$ctrl.label.grouped.right.show"> {{$ctrl.label.grouped.right.name}}</span>
</div>

<helper-validator ng-if="$ctrl.validation.exec" value="$ctrl.input.value" validation="$ctrl.validation"></helper-validator>
