<div class="modal fade{{$ctrl.modal_fade}}" role="dialog" style="display:block;{{$ctrl.modal_zindex}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"
                 ng-if="$ctrl.params.header_show">

                <button ng-if="$ctrl.params.header_close_button"
                        ng-click="$ctrl.closeModal()"
                        type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <h4 class="modal-title"
                    ng-if="$ctrl.params.header_title">{{$ctrl.params.header_title}}</h4>
            </div>

            <div class="modal-body" ng-transclude="body">
            </div>

            <div class="modal-footer"
                 ng-if="$ctrl.params.footer_show">
                <ng-transclude ng-transclude-slot="footer"></ng-transclude>

                <button ng-if="$ctrl.params.footer_close_button"
                        ng-click="$ctrl.closeModal()" type="button"
                        class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade{{$ctrl.modal_fade}}" style="{{$ctrl.modal_zindex}}"></div>