<div class="upload-item">
    <input ng-if="params.type != 'multiple'"
           accept="{{params.accept || ''}}"
           type="file">

    <input ng-if="params.type == 'multiple'"
           accept="{{params.accept || ''}}"
           type="file"
           multiple="multiple">
</div>
