<div ng-controller="TablesController">
    <div id="general">
        <h1>
            Use case for tables
        </h1>
        <span>
            <strong>
                Important:
            </strong>
            styles for the lists are defined through bootstrap classes and on the file helper.scss.
        </span>
        <br/>
        <span>
            <strong>
                Controller:
            </strong>
            for important reference of how to use the, see the file helper.controller.js.
        </span>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="regular">
        <h2>
            Regular tables
        </h2>
        <span>
            No break of format when break occurs, horizontal scrool bar appears
        </span>
        <hr/>
        <h3>
            Use Case Regular Table 1
        </h3>
        <tables-break header="header" key-values="keyValues">
        </tables-break>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="break">
        <h2>
            Break tables
        </h2>
        <span>
            Break of format when break occurs, horizontal scrool bar appears
        </span>
        <hr/>
        <h3>
            Use Case Break 1
        </h3>
        <span>
            Resize to see differences
        </span>
        <hr/>
        <tables-break header="header" key-values="keyValues" width-break="break">
        </tables-break>
    </div>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>