<div class="container" ng-controller="ModalController">
    <h2>Modals</h2>

    <h4>Use Case 1 - Simple Modal</h4>
    <button-action action="action.action" button-style="action.buttonStyle" text="action.text"></button-action>

    <h1>{{count}}</h1>
    <h2>{{hello}}</h2>

    <modal-dialog params="modalParams">
        <modal-body>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque et ex expedita ipsa minima molestiae, nesciunt nisi nostrum quae quam reiciendis sed, ut veniam voluptatum. Aliquid debitis molestias quasi suscipit! A accusamus ad autem beatae blanditiis commodi consectetur distinctio dolorem doloribus eligendi eum expedita explicabo fugiat nemo, nesciunt nostrum obcaecati quam, quia ratione recusandae reiciendis repudiandae sequi sit ullam voluptatibus. Ab animi aspernatur aut consequatur culpa dignissimos dolorum eaque esse facilis ipsum laboriosam minus molestiae mollitia nisi odit omnis possimus, qui quibusdam quis quos reiciendis reprehenderit rerum soluta veritatis vitae voluptate voluptatum? Commodi consectetur, cum deleniti dignissimos dolor doloremque ea eum explicabo facilis illo in molestias mollitia nisi nobis odio praesentium, qui rem repellendus, temporibus ullam! Aperiam, asperiores blanditiis cum dolore eos, et harum, non perferendis quae quibusdam saepe sit temporibus unde vel velit. Consectetur iure magni, mollitia nemo nesciunt nisi perspiciatis porro veniam. Accusamus asperiores consequatur, doloremque dolorum ducimus eligendi facilis ipsam quae reiciendis repellat repellendus sit voluptatum?</p>
            <input type="text" ng-model="hello">
            <button type="button" class="btn btn-default"
                    ng-click="addCount()">
                Add!
            </button>
            <button type="button" class="btn btn-default"
                    ng-click="setHello(hello)">
                Set Hello!
            </button>
        </modal-body>
        <modal-footer></modal-footer>
    </modal-dialog>
</div>