<div ng-controller="InputsController">
    <div id="general">
        <h1>
            Use Cases for Inputs
        </h1>
        <span>
            <strong>
                Important:
            </strong>
            styles for the lists are defined through bootstrap classes and on the file lists.scss.
        </span>
        <br/>
        <span>
            <strong>
                Controller:
            </strong>
            for important reference of how to use the, see the file lists.controller.js.
        </span>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="single">
        <h2>
            Single Input
        </h2>
        <span>
            Single input is created from a single element, such as a single chechbox, text input, password input
        </span>
        <hr/>
        <h3>
            Use Single 1 - text with simple label
        </h3>
        <input-single input="inputCase1" label="labelCase1" on-update="inputCase1">
        </input-single>
        input value case single 1: {{inputCase1.value}}
        <br/>
        <h3>
            Use Single 2 - text with grouped label
        </h3>
        <input-single input="inputCase2" label="labelCase2" on-update="inputCase2">
        </input-single>
        input value case single 2: {{inputCase2.value}}
        <br/>
        <h3>
            Use Single 3 - checkbox
        </h3>
        <input-single input="inputCase3" label="labelCase3" on-update="inputCase3">
        </input-single>
        input value case single 3: {{inputCase3.value}}
        <br/>
        <h3>
            Use Single 4 - text area - default value cols/rows
        </h3>
        <input-single input="inputCase10" label="labelCase10" on-update="inputCase10">
        </input-single>
        input value case single 4: {{inputCase10.value}}
        <br/>
        <h3>
            Use Single 5 - password
        </h3>
        <input-single input="inputCase11" label="labelCase11" on-update="inputCase11">
        </input-single>
        input value case single 5: {{inputCase11.value}}
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="list">
        <h2>
            List Input
        </h2>
        <span>
            List input is created from a list of elements, such as chechboxes, radios, dropdown
        </span>
        <hr/>
        <h3>
            Use Case List 1 - radio
        </h3>
        <input-list input="inputCase4" label="labelCase4" on-update="inputCase4">
        </input-list>
        input value case lsit 1: {{inputCase4.value}}
        <br/>
        <h3>
            Use Case List 2 - autocomplete
        </h3>
        <input-list input="inputCase5" label="labelCase5" on-update="inputCase5">
        </input-list>
        input value case list 2: {{inputCase5.value}}
        <br/>
        <h3>
            Use Case List 3 - autocomplete
        </h3>
        <input-list input="inputCase6" label="labelCase6" on-update="inputCase6">
        </input-list>
        input value case list 3: {{inputCase6.value}}
        <br/>
        <h3>
            Use Case List 4 - dropdown
        </h3>
        <input-list input="inputCase7" label="labelCase7" on-update="inputCase7">
        </input-list>
        input value case list 4: {{inputCase7.value}}
        <br/>
        <h3>
            Use Case List 5 - dropdown
        </h3>
        <input-list input="inputCase8" label="labelCase8" on-update="inputCase8">
        </input-list>
        input value case list 5: {{inputCase8.value}}
        <br/>
        <h3>
            Use Case List 6 - dropdown key/value
        </h3>
        <input-list input="inputCase9" label="labelCase9" on-update="inputCase9">
        </input-list>
        input value case list 6: {{inputCase9.value}}
        <br/>
        <h3>
            Use Case List 7 - checkbox options
        </h3>
        <input-list input="inputCase12" label="labelCase12" ng-click="updateValue()" on-update="inputCase12">
        </input-list>
        input value case list 7: {{inputCase12.value}}
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="arrange">
        <h2>
            Arrange Inputs
        </h2>
        <span>
            Create several inputs of different types
        </span>
        <hr/>
        <h3>
            Use Case Arrange - Arrange Inputs
        </h3>
        <arrange-inputs div-style="divStyle" inputs-labels="inputsLabels" on-update="inputsLabels">
        </arrange-inputs>
        <div ng-repeat="inputLabel in inputsLabels">
            Inputs Values: {{inputLabel.input.value}}
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
