/**
 * GLAM MENS JS COMPONENTS :: File Upload
 * ======================================================================
 * Component base styles.
 * ----------------------------------------------------------------------
 * @since       v0.0.1
 */
.upload-item {
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    transition: all .3s;

    input[type=file] {
        width: 100%;
        padding: 10px;
        display: block;
        cursor: pointer;
    }

    &:hover {
        background: #ddd;
        opacity: .5;
    }

    &:active {
        color: #fff;
        background: #bbb;
    }
}

.upload-progress {
    background: #ddd;
    width: 100%;
    height: 2rem;
    margin: auto;
    padding: 0;
    display: block;
    overflow: hidden;
    border-radius: 4px;

    & > span {
        color: #fff;
        background: #555;
        min-width: 2rem;
        font-size: 1rem;
        text-align: center;
        line-height: 2rem;
        margin: auto;
        padding: 0;
        display: block;
        float: left;
        transition: .5s;
    }
}

.upload-list {
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 1rem;
    border-radius: 4px;

    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    th,
    td {
        padding: 5px;
    }

    thead {
        tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }

    tbody {
        tr {
            & + tr {
                border-top: 1px solid #ccc;
            }

            &.success {
                .upload-progress {
                    & > span {
                        background: #090;
                    }
                }
            }

            &.error {
                .upload-progress {
                    & > span {
                        background: #f00;
                    }
                }
            }

            td {
                &:first-child {
                    padding-bottom: 0;
                }

                & + td {
                    padding-top: 0;
                }

                & > span {
                    color: #f00;
                    font-size: .75em;
                    font-weight: 700;
                    display: block;
                }
            }
        }
    }

    @media ( min-width: 768px ) {
        thead {
            display: table-header-group;

            tr {
                position: relative;
                top: 0;
                left: 0;
            }

            th {
                color: #666;
                background: #eee;
                border: 1px solid #ccc;
                text-align: center;
            }
        }

        tbody {
            display: table-row-group;

            tr {
                td {
                    &:first-child {
                        padding-bottom: 5px;
                    }

                    & + td {
                        padding-top: 5px;
                    }
                }
            }
        }

        tr {
            display: table-row;
        }

        th,
        td {
            border: 1px solid #ccc;
            display: table-cell;

            &:last-child {
                width: 25%;
            }
        }
    }
}