<upload-item params="$ctrl.params"></upload-item>

<table class="upload-list">
    <thead>
    <tr>
        <th>Arquivo</th>
        <th>Progresso</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.params.uploadList"
        class="{{item.cssClass}}">
        <td title="Arquivo">
            {{item.file.name}}
            <span ng-if="item.label != ''">{{item.label}}</span>
        </td>
        <td title="Progresso">
            <div class="upload-progress">
                <span style="width:{{item.progress}}%;">{{item.progress}}%</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>