.dnd-image {
    background: #888;
    border: 2px dashed #fff;
    width: 100%;
    margin: auto;
    padding: 0 0 100% 0;
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: .3s;
    border-radius: .5rem;

    &:before {
        content: "Drag and drop an image. PNG, JPG and GIF files accepted...";
        color: #fff;
        background: rgba(0, 0, 0, .75);
        font-size: .8em;
        text-align: center;
        padding: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .3s;
    }

    &:after {
        content: "📷";
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
        text-align: center;
        line-height: 4rem;
        margin: -2rem auto auto -2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: .5;
        transition: .3s;
    }

    img {
        width: 100%;
        margin: auto;
        display: block;
        position: absolute;
        top: -1000%;
        right: -1000%;
        bottom: -1000%;
        left: -1000%;
    }

    &.dragover {
        opacity: .5;

        &:before {
            bottom: -100px;
        }

        &:after {
            opacity: .25 !important;
            z-index: 3;
        }
    }

    &.dropped {
        background: #666;
        &:before {
            content: "Drag and drop another image here, or click to change the chosen image...";
        }

        &:after {
            opacity: 0;
        }
    }
}