<div class="container" ng-controller="DndImageController">
    <h1>Drag'n Drop Image Controller</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="dnd-upload" dndUpload="imageFile"></div>
        </div>
        <div class="col-sm-4">
            <new-dnd-image file-list="imageFile"></new-dnd-image>
        </div>
    </div>
    {{imageFileList}}
    <button class="btn btn-info" ng-click="clickitty()">
        Clickitty!
    </button>
</div>