.dnd-upload {
    background: #f00;
    width: 100%;
    padding: 0 0 100% 0;
    display: block;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &.drop {
        background: #400;
    }

    &.dropped {
        background: #f66;
    }

    &.over {
        opacity: .5;
    }

    img {
        width: 100%;
        margin: auto;
        position: absolute;
        top: -1000%;
        right: -1000%;
        bottom: -1000%;
        left: -1000%;
    }
}