.navbar {
    margin-bottom: 0 !important;
}

.navbar-inverse {
    background: #000;

    .navbar-toggle {
        color: #999;
        cursor: pointer;

        &:hover {
            border-color: #bbb;
            color: #999;
        }
    }
}

@media ( min-width: 768px ) {
    .navbar {
        border: 0;
        border-radius: 0;
        width: 100%;
        position: fixed;
        z-index: 1000;
        .container {
            position: relative;
        }
    }

    .navbar-nav {
        .dropdown {
            position: static !important;
        }

        .dropdown-menu {
            border: 0;
            max-height: 0;
            padding: 0;
            display: block;
            overflow: hidden;

            &.gb-dropdown {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }

        li.dropdown {
            &.open {
                background: transparent;

                & > a {
                    color: #9d9d9d !important;
                    background: transparent;
                }
            }

            &:hover {
                .dropdown-menu {
                    border: 1px solid rgba( 0, 0, 0, .25 );
                    max-height: 100vh;
                    margin-top: -1px !important;
                    padding: 5px 0;
                    display: block;
                    box-shadow: 0 2px 5px 0 rgba( 0, 0, 0, .5 );
                }

                .gb-dropdown {
                    max-height: 100vh;
                    padding: 5px 0 10px;
                    display: block;
                    
                }
            }
        }
    }
}

.gb-dropdown {
    border-radius: 0;
    & > li {
        & + li {
            border-top: 1px solid rgba( 255, 255, 255, .25 );
            margin-top: .75rem;
        }

        & > ul {
            padding: 0;
            display: block;

            & > li {
                margin: 0 -15px;
                display: block;
                &.dropdown-header {
                    color: #666;
                    font-size: 110%;
                    font-weight: 700;
                    text-align: left;
                    line-height: 2;
                    padding: 0 15px !important;
                }

                a {
                    color: #999;
                    text-decoration: none;
                    line-height: 2;
                    padding: 0 15px;
                    display: block;

                    &:hover {
                        color: #666;
                        background: #ccc;
                    }
                }
            }
        }

        @media screen and ( min-width: 768px ) {
            & + li {
                border-top: 0;
                margin-top: 0;
            }

            & > ul {
                list-style: none;
                padding: 0;

                & > li {
                    margin: 0;
                    padding: 0;
                    display: block;

                    &.dropdown-header {
                        font-size: 110%;
                        font-weight: 700;
                        text-align: left;
                        padding: 0 !important;
                    }

                    a {
                        color: #999;
                        text-decoration: none;
                        line-height: 1.75;
                        padding: 0;
                        display: block;

                        &:hover {
                            color: #fff;
                            background: rgba( 0, 0, 0, 0.4 );
                            padding: 0 6px;
                            transition: .2s;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}

.gb-contents {
    padding-top: 20px;
    @media ( min-width: 768px ) {
        padding-top: 70px;
    }
}

.view {
    padding-top: 7%;
}
