.img-brand-logo {
	max-width: 60px;
	max-height: 60px;

	@media (min-width: 1200px) {
		max-width: 99px;
		max-height: 99px;
	}
}

.card-style {
	border: 1px solid grey;
	margin-top: 1%;
}

figcaption {
	text-align: center;
}

.seemore-button {
	width: 20%;
	float: right;
}