.glyphicon-heading-panel {
	float: right;
	display: block;
	margin-left: 1%;
	&:hover {
		color: #FFFFFF;
		cursor: pointer;
	}
}

.panels-heading-text {
	margin-left: 45%;
	font-weight: bold;
}

.body-style {
	border-top: 1px solid #D3D7CF;
}