<table class="{{$ctrl.style.table}}" ng-show="$ctrl.size == 'normal'" border="1">
	<thead class="{{$ctrl.style.header}}">
		<tr>
			<th ng-repeat="head in $ctrl.header">{{head}}</th>
		</tr>
	</thead>
	<tbody class="$ctrl.style.body">
		<tr ng-repeat="row in $ctrl.body">
			<td ng-repeat="col in row">{{col.value}}</td>
		</tr>
	</tbody>
</table>
<table class="{{$ctrl.style.table}}" ng-show="$ctrl.size == 'small'" border="1">
	<tbody class="$ctrl.style.body">
		<tr ng-repeat="row in $ctrl.body">
			<td>
				<div ng-repeat="col in row">
					<h5><strong>{{col.key}}</strong></h5>
					<h6>{{col.value}}</h6>
				</div>
			</td>
		</tr>
	</tbody>
</table>