<div class="btn-group pull-right" role="group">
    <button-submit text="$ctrl.submit.text" mode="$ctrl.submit.mode" go-to="$ctrl.submit.goTo" button-style="$ctrl.submit.buttonStyle" params="$ctrl.submit.params" on-submit="$ctrl.onButtonSubmit($ctrl.submit.params)"></button-submit>
    <button-action text="$ctrl.cancel.text" mode="$ctrl.cancel.mode" button-style="$ctrl.cancel.buttonStyle"></button-action>
</div>