<div ng-if="$ctrl.blocked == false" class="{{$ctrl.divStyle}}">
	<div ng-repeat="inputLabel in $ctrl.inputsLabels">
		<input-single ng-if="inputLabel.type == 'single'" input="inputLabel.input" label="inputLabel.label" label-input-style="inputLabel.labelInputStyle" on-update="inputLabel.input"></input-single>
		<input-list ng-if="inputLabel.type == 'list'" input="inputLabel.input" label="inputLabel.label" label-input-style="inputLabel.labelInputStyle" on-update="inputLabel.input"></input-list>
		<br/>
	</div>
</div>

<div ng-if="$ctrl.blocked == true" class="container-fluid">
	<div ng-repeat="repetition in $ctrl.repetitions">
		<div class="{{$ctrl.divStyle}}">
			<div ng-repeat="inputLabel in repetition">
				<input-single ng-if="inputLabel.type == 'single'" input="inputLabel.input" label="inputLabel.label" label-input-style="inputLabel.labelInputStyle" on-update="inputLabel.input"></input-single>
				<input-list ng-if="inputLabel.type == 'list'" input="inputLabel.input" label="inputLabel.label" label-input-style="inputLabel.labelInputStyle" on-update="inputLabel.input"></input-list>
				<br/>
			</div>
		</div>
	</div>
</div>