<div ng-controller="HelpersController">
    <div id="general">
        <h1>
            Use case for helpers
        </h1>
        <span>
            <strong>
                Important:
            </strong>
            styles for the helper are defined through bootstrap classes and on the file helper.scss.
        </span>
        <br/>
        <span>
            <strong>
                Controller:
            </strong>
            for important reference of how to use the, see the file helper.controller.js.
        </span>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="validation">
        <h2>
            Helper for Validation
        </h2>
        <span>
            It's done by using an attribute in the input element (see Inputs components for more info)
        </span>
        <hr/>
        <h3>
            Use Case Validation 1 - Single Input
        </h3>
        <hr/>
        <input-single input="inputCase1" label="labelCase1" on-update="inputCase1" validation="inputValid1">
        </input-single>
        <br/>
        <h3>
            Use Case Validation 2 - List Input
        </h3>
        <input-list input="inputCase2" label="labelCase2" on-update="inputCase2" validation="inputValid2">
        </input-list>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="popover">
        <h2>
            Helper for Popover
        </h2>
        <span>
            It's done by using an attribute in the input element (see Inputs components for more info)
        </span>
        <h3>
            Use Case Popover 1 - onClick on the right side of the element
        </h3>
        <input-single input="inputCase3" label="labelCase3" on-update="inputCase3" popover="popover1">
        </input-single>
        <h3>
            Use Case Popover 2 - onHover on top of the element
        </h3>
        <input-single input="inputCase4" label="labelCase4" on-update="inputCase4" popover="popover2">
        </input-single>
        <h3>
            Use Case Popover 3 - onFocus on bottom of the element
        </h3>
        <input-single input="inputCase5" label="labelCase5" on-update="inputCase5" popover="popover3">
        </input-single>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="tooltip">
        <h2>
            Helper for Tooltip
        </h2>
        <span>
            It's done by using an attribute in the input element (see Inputs components for more info)
        </span>
        <hr/>
        <h3>
            Use Case Tooltip 1 - onClick on top of the element
        </h3>
        <input-single input="inputCase6" label="labelCase6" on-update="inputCase6" tooltip="tooltip">
        </input-single>
    </div>
    <br/>
    <hr/>
    <br/>
    <div id="messages">
        <h2>
            Helper for Messages
        </h2>
        <span>
            It's an element on the page that show a message given some conditions
        </span>
        <hr/>
        <h3>
            Use Case Messages 1 - Error
        </h3>
        <helper-messages messages="messages1"></helper-messages>
        <br/>
        <h3>
            Use Case Messages 2 - Success
        </h3>
        <helper-messages messages="messages2"></helper-messages>
    </div>
    <br/>
    <hr/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
