<div class="{{$ctrl.params.wrapper_class}}">
    <button class="{{$ctrl.params.default_class}}"
            ng-if="$ctrl.params.show_arrows && $ctrl.params.page_last > 1"
            ng-click="$ctrl.goToPage('first')">{{$ctrl.params.arrow_first_text}}</button>
    <button class="{{$ctrl.params.default_class}}"
            ng-if="$ctrl.params.show_arrows && $ctrl.params.page_last > 1"
            ng-click="$ctrl.goToPage('prev')">{{$ctrl.params.arrow_prev_text}}</button>

    <button ng-repeat="n in $ctrl.params.number_list"
            ng-if="$ctrl.params.show_numbers"
            ng-click="$ctrl.goToPage(n)"
            class="{{n == $ctrl.params.current ? $ctrl.params.current_class : $ctrl.params.default_class}}">
        {{n}}
    </button>

    <button class="{{$ctrl.params.default_class}}"
            ng-if="$ctrl.params.show_arrows && $ctrl.params.page_last > 1"
            ng-click="$ctrl.goToPage('next')">{{$ctrl.params.arrow_next_text}}</button>
    <button class="{{$ctrl.params.default_class}}"
            ng-if="$ctrl.params.show_arrows && $ctrl.params.page_last > 1"
            ng-click="$ctrl.goToPage('last')">{{$ctrl.params.arrow_last_text}}</button>
</div>